.App {
  text-align: center;
  padding: 20px;

}
  /* body {
    background-color: #f9c5d1;
    background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);

  } */

.intro{
  display: flex;
  justify-content: space-evenly;
  margin: 100px 0;
}
.mission, .vision{
  margin: 10px 0 50px;
}
.community{
  text-align: left;
  width: 50vw;
}
.communities{
  margin-left: 20vw;
}

@media (max-width: 400px){
  .intro{
    display: block;
  }
  .communities{
    margin-left: auto;
  }
  .community{
    width: auto;
  }
}