.App {
  text-align: center;
  padding: 20px;

}
  /* body {
    background-color: #f9c5d1;
    background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);

  } */

.intro{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 100px 0 0 100px;
}
.mission, .vision{
  margin: 10px 0 50px;
  text-align: left;
}
.community{
  text-align: left;
  width: 45vw;
}
.communities{
  margin-left: 25vw;
  padding-bottom: 100px;
  margin-top: 5vh;
}

/* button */
button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #D8A1D4;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #DF8FD9;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

/* Main page cdd */
.ant-tabs-bar, .ant-tabs-nav-container, .ant-tabs-nav-wrap, .ant-tabs-nav-scroll, .ant-tabs-nav, .ant-tabs-nav > div{
  width: 100%;
}
.ant-tabs-tab{
  width: 40%;
}

.ant-tabs-bottom .ant-tabs-bottom-bar .ant-tabs-ink-bar{
  display: none !important;
}

/* Nav CSS */
.ant-menu{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 65px;
  box-shadow: 0px -2px 8px lightgray;
  background-color: white;
  opacity: 1;
  width: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.ant-menu-item{
  border-bottom: none !important;
  width: 50%;
  height: 100%;
  text-align: center;
}
.ant-menu-item a{
  position: relative;
  top: 18%;
}
.ant-menu-horizontal > .ant-menu-item > a:hover{
  color: #DF8FD9;
}
.ant-menu-horizontal > .ant-menu-item-selected > a{
  color: #DF8FD9;
}
.ant-btn-primary:hover, .ant-btn-primary:focus{
  background-color: #DF8FD9;
}


@media (max-width: 400px){
  .intro{
    display: block;
  }
  .communities{
    margin-left: auto;
  }
  .community{
    width: auto;
  }
  .sidelogo{
    display: none;
  }
}